//ESTILOS DE POPUP



#popUpBox {
    width: auto;
    height: auto;

    background-color: honeydew;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 10px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    visibility: hidden;

}


body {
    visibility: visible;


}


//imagen ampliada
#popicons {

    width: fit-content;
    margin: auto;

}

#imgpop {
    width: 500px;
    height: 500px;
    margin: auto;


}

#cerrarPop {
    display: flex;
    position: absolute;
    margin-left: 91.5%;
    border-radius: 2px;
    border-color: transparent;

}

#cerrarPop:hover {


    transform: translate(0px, -2px);

}

.fav:hover {
    transform: translate(1px, -2px);
}

.down:hover {
    transform: translate(1px, -2px);
}

.exp:hover {
    transform: translate(1px, -2px);
}

.sfav:hover {
    transform: translate(1px, -2px);
}

.sdown:hover {
    transform: translate(1px, -2px);
}

.smax:hover {
    transform: translate(1px, -2px);
}