@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#popUpBox {
  width: auto;
  height: auto;
  background-color: honeydew;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  padding: 10px;
  text-align: center;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  visibility: hidden;
}

body {
  visibility: visible;
}

#popicons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#imgpop {
  width: 500px;
  height: 500px;
  margin: auto;
}

#cerrarPop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 91.5%;
  border-radius: 2px;
  border-color: transparent;
}

#cerrarPop:hover {
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

.fav:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.down:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.exp:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.sfav:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.sdown:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.smax:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

header {
  width: 100%;
  height: 5.9%;
  border-top: 6px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 59.1px;
  height: 59.1px;
  margin-left: 10.8%;
  margin-top: 1.5%;
}

header nav {
  position: relative;
  margin-left: 37.5%;
  margin-top: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 5px;
}

header nav ul li {
  font-family: var(--primary-font);
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 50px;
}

header nav ul li a {
  text-decoration: none;
}

header nav #boton_gifo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 54px;
  height: 54px;
  border: none;
}

.listaNoc {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: white;
}

#masNoc {
  visibility: hidden;
  width: 127px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid white;
  margin-top: 3.1%;
  margin-bottom: 3.1%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

#listNoc {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;
  border: 1px solid white;
  border-radius: 27px;
  width: 551px;
  min-height: 50px;
  text-align: justify;
  margin: auto;
}

#listNoc #inputLine {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#listNoc #inputLine #buscar {
  background: transparent;
  width: 85%;
  font-size: 16px;
  position: relative;
  border: hidden;
  cursor: pointer;
  outline-style: unset;
  text-overflow: ellipsis;
  text-transform: capitalize;
  text-indent: 15px;
}

#listNoc #inputLine #iconClose {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

#listNoc #inputLine #iconLupa {
  position: relative;
  cursor: pointer;
  visibility: hidden;
  width: 20px;
  height: 20px;
}

#fotindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 7.6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #000000 100%;
  letter-spacing: 0;
  margin-top: 12%;
}

#fotindex #redes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10.8%;
}

#fotindex #redes p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}

#fotindex #redes .redes {
  padding-right: 10px;
}

#fotindex #copyright {
  font-family: 'Roboto', sans-serif;
  margin-right: 11%;
  font-size: 13px;
}

#seccionCarrusel {
  width: 100%;
  height: 100%;
}

#tituloSeccion {
  text-align: center;
  color: blue;
  font-family: 'Montserrat', sans-serif;
}

#trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.giftrending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 357px;
  height: 275px;
}

.giftrending .gifoImagen {
  width: 100%;
}

.giftrending .botonesGifo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 357px;
  height: 275px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
}

.giftrending .botonesGifo .btn {
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
}

.giftrending .datosGifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 190px;
  margin-left: 15px;
  width: 20%;
  position: absolute;
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
}

.giftrending:hover .botonesGifo {
  opacity: 0.7;
  background-color: blue;
}

.giftrending:hover .datosGifo {
  opacity: 0.7;
}

#busqueda {
  position: relative;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#busqueda #tituloSeccionBuscar {
  font-family: var(--primary-font);
  font-size: 35px;
  color: #572EE5;
  line-height: 50px;
  width: 44.9%;
  height: 6.6%;
  text-align: center;
  margin: auto;
}

#busqueda #tituloSeccionBuscar #gifosEnfasis {
  color: #50E3C2;
}

#busqueda #imagenSeccionBuscar {
  display: block;
  position: relative;
  padding-top: 20px;
  margin: auto;
}

#busqueda #buscador {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 551px;
  min-height: 50px;
  text-align: justify;
  margin: auto;
}

#busqueda #buscador #inputLine {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#busqueda #buscador #inputLine #buscar {
  width: 85%;
  font-size: 16px;
  position: relative;
  border: hidden;
  cursor: pointer;
  outline-style: unset;
  text-overflow: ellipsis;
  text-transform: lowercase;
  text-indent: 15px;
  font-family: 'Roboto', sans-serif;
}

#busqueda #buscador #inputLine #iconoClose {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

#busqueda #buscador #inputLine #iconoLupa {
  position: relative;
  cursor: pointer;
  visibility: hidden;
  width: 20px;
  height: 20px;
}

#busqueda #buscador .container {
  position: relative;
  float: left;
  font-size: 16px;
  font-family: var(--primary-font);
}

#busqueda #buscador .container #listaResultados {
  list-style: url(/images/icon-search.svg);
  display: none;
}

#busqueda #buscador #listaResultados li:hover {
  cursor: pointer;
}

#busqueda .wordStrong {
  font-size: 16px;
  font-weight: normal;
}

#busqueda .wordStrong:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 20px;
}

#busqueda #palabrasTrending {
  margin-top: 60px;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  position: relative;
}

#busqueda #palabrasTrending #trendingEnfasis {
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  font-family: var(--primary-font);
}

#titResBusqueda {
  width: 550px;
  height: 30px;
  color: #572EE5;
  size: 35px;
  margin: auto;
  text-align: center;
  font-family: var(--primary-font);
}

#restopic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  text-align: center;
  position: relative;
}

#restopic #areaSinres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #572EE5;
}

.framegif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 2%;
  margin-top: 29px;
  width: 260px;
  height: 200px;
}

.gifound {
  position: relative;
  width: 260px;
  height: 200px;
  margin-bottom: 25px;
}

.frameIcons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.frameIcons .found {
  margin-top: 10px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.dataGif {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 13px;
  margin-top: 130px;
  width: 260px;
  height: 60px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  text-align: left;
}

.framegif:hover .frameIcons {
  opacity: 0.7;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
  -webkit-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  background-color: blue;
}

.framegif:hover .dataGif {
  opacity: 1;
}

#mas {
  visibility: hidden;
  width: 127px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #572EE5;
  font-weight: bold;
  margin-top: 3.1%;
  margin-bottom: 3.1%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background-color: white;
  color: blue;
  text-transform: uppercase;
}

#storageFav {
  position: relative;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#storageFav #iconsecfav {
  width: 28px;
  height: 21px;
  position: relative;
  margin-top: 11px;
  margin: auto;
  margin-bottom: 6px;
}

#storageFav #pfav {
  font-family: var(--primary-font);
  font-size: 35px;
  color: #572EE5;
  line-height: 50px;
  width: 44.9%;
  height: 6.6%;
  text-align: center;
  margin: auto;
  margin-bottom: 36px;
}

#areaSinFav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 431px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 109.3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#areaSinFav #msjsinFav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat-Bold;
  font-size: 22px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  width: 350px;
}

#showfav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  text-align: center;
  position: relative;
}

.frameFav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 2%;
  margin-left: 20px;
}

.giFav {
  position: relative;
  width: 260px;
  height: 200px;
  margin-bottom: 25px;
}

.iconsFav {
  position: absolute;
  width: 260px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
}

.iconsFav .found {
  margin-right: 10px;
  width: 40px;
  height: 32px;
}

.iconsFav .favActive {
  background: #FFFFFF;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 14px;
}

.iconsFav .favActive .locfav {
  width: 18px;
  height: 15.9px;
  margin: auto;
}

.dataFav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 130px;
  width: 260px;
  height: 60px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

#mas {
  visibility: hidden;
  width: 127px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #572EE5;
  font-weight: bold;
  margin-top: 3.1%;
  margin-bottom: 3.1%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background-color: white;
  color: blue;
  text-transform: uppercase;
}

.favActive:hover {
  -webkit-transform: translate(1px, -2px);
          transform: translate(1px, -2px);
}

.frameFav:hover .iconsFav {
  opacity: 0.7;
  visibility: visible;
  background-color: blue;
}

.frameFav:hover .dataFav {
  opacity: 1;
  visibility: visible;
}

.options {
  font-family: 'Roboto', sans-serif;
}

.options:hover {
  background-color: blue;
  color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

#videocont {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 688px;
  height: 390px;
  margin: auto;
  margin-top: 60px;
}

#videocont video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 35px;
  width: 480px;
  height: 320px;
}

#videocont .titulos {
  width: 550px;
  height: 70px;
  text-align: center;
  font-family: var(--primary-font);
  color: #572EE5;
  font-size: 25px;
  font-weight: bold;
  top: 100px;
  position: relative;
  visibility: visible;
}

#videocont .tit2 {
  position: relative;
  top: 60px;
  width: 446px;
  height: 135px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #572EE5;
  size: 16px;
}

#videocont .subtit {
  position: relative;
  top: 40px;
  width: 446px;
  height: 135px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  size: 16px;
}

#pasos {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pasos h3 {
  border-radius: 100%;
  border: 1px blue;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: inset;
  width: 32px;
  height: 32px;
  size: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: blue;
  margin-right: 16px;
  margin-left: 16px;
}

#cronometro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-family: var(--primary-font);
  border: 1px black;
  color: #572EE5;
  font-size: 16px;
  width: 8.1%;
  height: 2.8%;
  margin-left: 70%;
  margin-top: -40px;
  text-align: center;
}

#repetir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: var(--primary-font);
  font-size: 13px;
  width: 131px;
  height: 16px;
  margin-left: 66.3%;
  margin-top: -40px;
  text-align: center;
  border: 1px black;
  color: #572EE5;
}

#barra {
  border: 1px black;
  background-color: blue;
  width: 795.9px;
  height: 6.9px;
  margin: auto;
  border-radius: 10px;
}

#btncomenzar {
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font-family: var(--primary-font);
  size: 13px;
  margin-top: 20px;
  margin-left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
}

#btncomenzar:hover {
  color: yellow;
  cursor: pointer;
}

#grabar {
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font-family: var(--primary-font);
  size: 13px;
  margin-top: -67px;
  visibility: hidden;
  margin-left: 45.2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
}

#detener {
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font-family: var(--primary-font);
  size: 13px;
  margin-top: -50px;
  visibility: hidden;
  margin-left: 45.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
}

#subir {
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font-family: var(--primary-font);
  size: 13px;
  margin-top: -49px;
  visibility: hidden;
  margin-left: 45.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
}

#cronos {
  background-color: burlywood;
  color: crimson;
  border: 1px black;
}

#rewind {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: var(--primary-font);
  font-size: 13px;
  margin-top: -35px;
  visibility: hidden;
  margin-left: 66.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: blue;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-font:'Montserrat', sans-serif;
  --secondary-font:'IBM Plex Sans', sans-serif;
}
/*# sourceMappingURL=styles.css.map */